body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}
.container {
    min-width: fit-content;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
label {
    margin: 10px 0 5px;
    display: block;
}
#command {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#dlugosc{
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#comm2 {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#div2 input {
    padding: 8px;
    margin: 5px 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#div2 select {
    padding: 8px;
    margin: 5px 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.output {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
}
textarea {
    width: 100%;
    height: 100px;
}
.back-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #9a2828;
}
table {
    display: none;

}
@media print {
    header, footer, aside, form, … {
        display: none;
    }
    .container{
        display: none;
     }
     table {
        display: block;
      }
      @page {
        size: auto;   /* auto is the initial value */
        margin: 0;  /* this affects the margin in the printer settings */
      }
      a[href]:after {
        content: none !important;
    }
 }